<div class="main" ng-app="app-front" ng-controller="editProductController">
    <div class="top">
        <div class="container-main" >
            <h3 align="center">Корректировка продукта</h3>
            <div class="container-create-edit" >
                <div class="block-left"></div>


                <form novalidate ng-submit="putProduct()" >
                    <div class="mb-3">
                        <label  class="form-label">ID</label>
                        <input id="id" readonly type="number" class="form-control" value="" ng-model="put_product.id">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Название</label>
                        <input id="title" type="text" class="form-control" value="" ng-model="put_product.title">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Цена</label>
                        <input id="price" type="number" class="form-control" value="" ng-model="put_product.price">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Название категории</label>
                        <select id="selectCategory" class="form-control" ng-model="put_product.categoryTitle"></select>
                        <!--            <input id="categoryTitle" type="text" list="categories" class="form-control" value="" ng-model="put_product.categoryTitle">-->

                    </div>
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </form>
                <div class="block-left"></div>
            </div>
        </div>
    </div>
</div>